{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block main %}
<div class="form-container">
                {################################}
                {# Loop for the  Flash Message  #}
                {################################}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
                {################################}
                {#  Form of user's logg in      #}
                {################################}
<form method="post" class="form login">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Connectez-vous</h1>
    <div>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" placeholder="Entrez Votre Email..." name="email" id="inputEmail" class="email-input" required autofocus>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <input type="password" placeholder="Entrez Votre Mot De Passe..." name="password" id="inputPassword" class="password-input" required>
    </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <a href="{{ url("forgottenPassword") }}">mot de passe oublié</a>
        <button class="btn btn-lg btn-primary" type="submit">se connecter</button>
</form>
</div>
{% endblock main %}
{% block footer%}
{% endblock footer%}
